<!DOCTYPE html>
<html>
  <head>
    <title>LifeMon</title>
    <meta charset="utf-8">
    <link rel="manifest" href="manifest.json">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    
    
   <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/extObject.js"></script>
    <script src="/js/ecg.js"></script>
    

    <style type="text/css">
      body {
        background-color: #000;
        padding: 10px;
      }

      #svg-wrapper {
          width: 100%;
          height: 160px;
          margin: 2em auto;
        }
        #svg-wrapper-3 {
          width: 100%;
          height: 160px;
          margin: 2em auto;
        }
      #svg-wrapper-2 {
          width: 100%;
          height: 224px;
          
        }

        #svg-wrapper-ami {
          width: 100%;
          height: 224px;
          
        }

        .block_chart_1 {
          border:1px solid #16333e;
          width:100%;
          position: relative;
          margin-bottom: 10px;
        }
        .block_chart_2 {
          border: 1px solid #8e8f8f;
          position: relative;
          width:100%;
          margin-bottom: 10px;
        }
        .linechart_1 {
          fill: none;
          stroke: #0bf4040bf404;
          stroke-width: 1.5px;
        }
        .linechart_3 {
          fill: none;
          stroke: #dce111;
          stroke-width: 1.5px;
        }

        svg.heart_icon {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 10px;
          right: 20px;  
        }

        svg .axis {
          font-size: 12px;
        }

        svg .axis path {
          display: none;
        }


        .line {
            fill: none;
            stroke: #0bf404;
            stroke-width: 2px;
        }

    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but socket doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
