
<template>
  <div>

    <button @click="testAMI">Alert</button>
    <div v-show="showAMI" style="text-align:center; font-size:8em; color:red" class="blink_me">AMI Detected</div>
    <div style="display:none" id="svg-wrapper-ami">
      <button
        onclick="javascript:document.getElementsByClassName('ami')[0].setAttribute('fill', 'red');"
        style="position:absolute;top:0px;left:0px;"
      >Alert</button>
    </div>
  </div>
</template>

  
<script>
export default {
  name: "App",

  components: {},
  data() {
    return {
      showAMI: false,
      data: [0, 0, 3, -4, 10, -7, 3, 0, 0]
    };
  },
  mounted() {
    this.renderChart();
  },
  methods: {
    testAMI() {
      this.showAMI = true;
    },
    renderChart() {
      var self = this;

      var svg = null;
      var latestBeat = null;
      var insideBeat = false;
      var data = [];
      var SECONDS_SAMPLE = 8;
      var BEAT_TIME = 400;
      var TICK_FREQUENCY = (SECONDS_SAMPLE * 1000) / BEAT_TIME;

      var svgWrapper = document.getElementById("svg-wrapper-ami");
      var margin = { left: 0, top: 0, right: 0, bottom: 0 },
        width = svgWrapper.offsetWidth - margin.left - margin.right,
        height = svgWrapper.offsetHeight - margin.top - margin.bottom;

      var circleData = [
        {
          cx: width / 2 - 250,
          cy: 145,
          radius: 20,
          size: 80,
          color: "#333333",
          text: "AMI Detected",
          class: "ami"
        }
      ];

      // create SVG
      svg = d3
        .select("#svg-wrapper-ami")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.bottom + margin.top)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //Add the SVG Text Element to the svgContainer
      var text = svg
        .selectAll("text")
        .data(circleData)
        .enter()
        .append("text");

      //Add SVG Text Element Attributes
      var textLabels = text
        .attr("x", function(d) {
          return d.cx;
        })
        .attr("y", function(d) {
          return d.cy;
        })
        .text(function(d) {
          return d.text;
        })
        .attr("font-family", "sans-serif")
        .attr("font-size", function(d) {
          return d.size + "px";
        })
        .attr("fill", function(d) {
          return d.color;
        })
        .attr("class", function(d) {
          return d.class;
        });
    }
  }
};
</script>

<style scoped>
.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>
