
<template>
  <div id="svg-wrapper"></div>
</template>

  
<script>
// https://github.com/kmamykin/aws-mqtt
const AWS = require("aws-sdk");
const AWSIoTData = require("aws-iot-device-sdk");
const AWSConfiguration = {
  poolId: "ap-northeast-1:c185ba5a-18df-408e-984e-5da9f6369154", // 'YourCognitoIdentityPoolId'
  host: "a1q7lheknc0kk2-ats.iot.ap-northeast-1.amazonaws.com", // 'YourAWSIoTEndpoint', e.g. 'prefix.iot.us-east-1.amazonaws.com'
  region: "ap-northeast-1" // 'YourAwsRegion', e.g. 'us-east-1'
};
console.log("Loaded AWS SDK for JavaScript and AWS IoT SDK for Node.js");
AWS.config.region = AWSConfiguration.region;
AWS.config.credentials = new AWS.CognitoIdentityCredentials({
  IdentityPoolId: AWSConfiguration.poolId
});

export default {
  name: "App",

  components: {},
  data() {
    return {
      BEAT_VALUES: [0, 0, 3, -4, 10, -7, 3, 0, 0],
      mqttClient: "",
      clientId: "",
      now_x: 0,
      now_x_real: 0,
      round: 0,
      x_step: [
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.058536585,
        0.029268293,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.014634146,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.007317073,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.029268293,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049,
        0.004878049
      ]
    };
  },
  mounted() {
    this.initAwsIot();
  },
  methods: {
    initAwsIot() {
      let self = this;

      var MAX_X = 12,
        MAX_Y = 5,
        MIN_Y = -3,
        MASK_WIDTH = 0.5,
        MASK_STEP_SIZE = 0.1,
        MASK_TRANSITION_DURATION = 50;

      var svg = null;
      var svgWrapper = document.getElementById("svg-wrapper");
      var margin = { left: 10, top: 10, right: 10, bottom: 10 },
        width = svgWrapper.offsetWidth - margin.left - margin.right,
        height = svgWrapper.offsetHeight - margin.top - margin.bottom;

      // create SVG
      svg = d3
        .select("#svg-wrapper")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.bottom + margin.top)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var g = svg.append("g");

      var ecg = new ECG(),
        data = [];

      var x = d3
        .scaleLinear()
        .domain([0, MAX_X])
        .range([0, width]);

      var y = d3
        .scaleLinear()
        .domain([MIN_Y, MAX_Y])
        .range([height, 0]);

      var line = d3
        .line()
        .curve(d3.curveBasis)
        .x(function(d, i) {
          return x(d.getX());
        })
        .y(function(d, i) {
          return y(d.getY());
        });

      var clip_path = g
        .append("defs")
        .append("defs")
        .append("clipPath")
        .attr("id", "clip");

      var clip_rect_1 = clip_path
        .append("rect")
        .attr("width", 0)
        .attr("height", height);

      var clip_rect_2 = clip_path
        .append("rect")
        .attr("x", x(MASK_WIDTH))
        .attr("width", x(MAX_X - MASK_WIDTH))
        .attr("height", height);

      var path = g
        .append("g")
        .attr("clip-path", "url(#clip)")
        .append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);

      //*******  CREATE OBJECT CHART   *********//

      // this function get data from awsiot (use with care because it cost)

      this.clientId = "mqtt-client-" + Math.floor(Math.random() * 100000 + 1);
      self.mqttClient = AWSIoTData.device({
        region: AWS.config.region,
        host: AWSConfiguration.host,
        clientId: self.clientId,
        protocol: "wss",
        maximumReconnectTimeMs: 8000,
        debug: true,
        // IMPORTANT: the AWS access key ID, secret key, and sesion token must be initialized with empty strings.
        accessKeyId: "",
        secretKey: "",
        sessionToken: ""
      });
      let cognitoIdentity = new AWS.CognitoIdentity();
      AWS.config.credentials.get(function(err, data) {
        if (!err) {
          console.log(
            "retrieved identity: " + AWS.config.credentials.identityId
          );
          var params = {
            IdentityId: AWS.config.credentials.identityId
          };
          cognitoIdentity.getCredentialsForIdentity(params, function(
            err,
            data
          ) {
            if (!err) {
              //
              // Update our latest AWS credentials; the MQTT client will use these
              // during its next reconnect attempt.
              //
              self.mqttClient.updateWebSocketCredentials(
                data.Credentials.AccessKeyId,
                data.Credentials.SecretKey,
                data.Credentials.SessionToken
              );
            } else {
              console.log("error retrieving credentials: " + err);
              alert("error retrieving credentials: " + err);
            }
          });
        } else {
          console.log("error retrieving identity:" + err);
          alert("error retrieving identity: " + err);
        }
        self.mqttClient.on("connect", function() {
          console.log("mqtt-connect");

          // subscribe event
          // self.mqttClient.subscribe('$aws/events/#');
          self.mqttClient.subscribe("ecg");
        });
        self.mqttClient.on("reconnect", function() {
          console.log("mqtt-reconnect");
        });
      });
      self.mqttClient.on("message", function(topic, payload) {
        let data_aws = JSON.parse(payload);
        console.log(data_aws);
        for (let i=0; i<data_aws.length; i++ ){
          tick(data_aws[i]);

        }
        // tick(data_aws.v);

        /* the stream data from aws IoT can found in 'data' variable
          data = {
            ts: unixtimestamp,
            v: int
          }

          then you can plot next value from data.v
          self.chartRender(data.v);
          */
      });

      function tick(new_y) {
        // Move the clip masks
        var delta_x = x(MASK_STEP_SIZE);
        var left_rect = clip_rect_1;
        var right_rect = clip_rect_2;
        if (
          +left_rect.attr("x") > +right_rect.attr("x") ||
          +left_rect.attr("x") + +left_rect.attr("width") >
            +right_rect.attr("x") + +right_rect.attr("width")
        ) {
          left_rect = clip_rect_2;
          right_rect = clip_rect_1;
        }
        var next_left_x = +left_rect.attr("x");
        var next_left_width = +left_rect.attr("width");
        var next_right_x = +right_rect.attr("x");
        var next_right_width = +right_rect.attr("width");

        // Case 1: We have a single mask while the gap moves from the right edge
        // to the left edge.
        //
        // |XXXXXXXX | => | XXXXXXXX|
        //
        // Left mask remains unchanged, right masks translates to the right.
        if (
          +right_rect.attr("x") >= x(MAX_X) ||
          +right_rect.attr("x") + +right_rect.attr("width") < x(MAX_X)
        ) {
          if (+right_rect.attr("x") >= x(MAX_X)) {
            var temp_rect = left_rect;
            left_rect = right_rect;
            right_rect = temp_rect;

            next_left_x = 0;
            next_left_width = 0;
            next_right_width = +right_rect.attr("width");

            left_rect
              .attr("x", 0)
              .attr("width", 0)
              .attr("transform", null);
          }

          next_right_x = +right_rect.attr("x") + x(MASK_STEP_SIZE);
        } else {
          next_left_width += x(MASK_STEP_SIZE);
          next_right_x += x(MASK_STEP_SIZE);
          next_right_width -= x(MASK_STEP_SIZE);
        }

        var t = left_rect
          .transition()
          .attr("x", next_left_x)
          .attr("width", next_left_width)
          .duration(MASK_TRANSITION_DURATION)
          .ease(d3.easeLinear);

        // right_rect.transition(t)
        //     .attr("x", next_right_x)
        //     .attr("width", next_right_width)
        //     .duration(MASK_TRANSITION_DURATION)
        //     .ease(d3.easeLinear)
        //     .on("end", tick);

        // update the data
        var update_datum = (new_x, new_y) => {
          if ((new_x % MAX_X) / ecg.getStepSize() >= data.length)
            data.push(new Point(new_x, new_y));
          else data[new_x / ecg.getStepSize()] = new Point(new_x, new_y);
        };

        if (self.now_x == 0) {
          self.now_x_real = self.round;
        } else {
          self.now_x_real = self.now_x_real + self.x_step[self.now_x];
        }

        var new_x = self.now_x_real;

        self.now_x++;

        if (self.now_x % 79 == 78) {
          self.round++;
          self.now_x = 0;
          self.now_x_real = 0;
        }

        // var new_datum = [new_x  , new_y];
        // var new_x = new_datum[0];
        // var new_y = new_datum[1];

        console.log(new_x + "," + new_y);

        update_datum(new_x, new_y);

        path
          .transition()
          .selection()
          .interrupt()
          .attr("d", line)
          .attr("transform", null);
      }

      // A Simple Point in Euclidean Space
      function Point(x, y) {
        return {
          x: x,
          y: y,
          getX: function() {
            return this.x;
          },
          getY: function() {
            return this.y;
          }
        };
      }
    },
    renderChart() {}
  }
};
</script>