
<template>
  <div id="svg-wrapper-2">
    

    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" class="heart_icon"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" fill="#09f502"/></svg>
  </div>
</template>

  
<script>

export default {
  name: 'App',

  components: {
    
  },
  data() {
    return {
      data: [0, 0, 3, -4, 10, -7, 3, 0, 0]
    }
  },
  mounted(){
    this.renderChart();
  },
  methods: {
    renderChart() {
        var self = this;

        var svg = null;
        var latestBeat = null;
        var insideBeat = false;
        var data = [];
        var SECONDS_SAMPLE = 8;
        var BEAT_TIME = 400;
        var TICK_FREQUENCY = SECONDS_SAMPLE * 1000 / BEAT_TIME;

        
       

        var svgWrapper = document.getElementById("svg-wrapper-2");
        var margin = {left: 0, top: 0, right: 0, bottom: 0},
            width = svgWrapper.offsetWidth - margin.left - margin.right,
            height = svgWrapper.offsetHeight - margin.top - margin.bottom;


         var circleData = [
              { "cx": 10, "cy": 25, "radius": 20, "size": 14, "color" : "#09f502", "text": "ECG", "class":"" },
              { "cx": 10, "cy": 47, "radius": 20, "size": 14, "color" : "#e3fb17", "text": "PR", "class":"" },
              { "cx": 35, "cy": 52, "radius": 20, "size": 20, "color" : "#e3fb17", "text": "(62)", "class":"" },
              { "cx": width-80, "cy": 80, "radius": 20, "size": 30, "color" : "#09f502", "text": "BPM", "class":"" },
              { "cx": width-165, "cy": 200, "radius": 20, "size": 140, "color" : "#09f502", "text": "67", "class":"bpm" }
            ];

        // create SVG
        svg = d3.select('#svg-wrapper-2').append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.bottom + margin.top)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        //Add the SVG Text Element to the svgContainer
        var text = svg.selectAll("text")
                        .data(circleData)
                        .enter()
                        .append("text");

        //Add SVG Text Element Attributes
        var textLabels = text
            .attr("x", function(d) { return d.cx; })
            .attr("y", function(d) { return d.cy; })
            .text( function (d) { return d.text; })
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d) { return d.size + "px"; } )
            .attr("fill", function(d) { return d.color; } )
            .attr("class", function(d) { return d.class; } );


        
      



        setInterval(function() {

          svg.select(".bpm")
                .text( Math.floor(Math.random() * (80 - 67) ) + 67 )
                .attr("transform", null)
                .transition();


        }, 3000);





       


        

        
    }
  }
}
</script>