<template>
  <div>
    <div id="container" ref="chart1" style="height: 360px; min-width: 480px"></div>
  </div>
</template>

<script>
// https://github.com/kmamykin/aws-mqtt
const AWS = require("aws-sdk");
const AWSIoTData = require("aws-iot-device-sdk");
const AWSConfiguration = {
  poolId: "ap-northeast-1:c185ba5a-18df-408e-984e-5da9f6369154", // 'YourCognitoIdentityPoolId'
  host: "a1q7lheknc0kk2-ats.iot.ap-northeast-1.amazonaws.com", // 'YourAWSIoTEndpoint', e.g. 'prefix.iot.us-east-1.amazonaws.com'
  region: "ap-northeast-1" // 'YourAwsRegion', e.g. 'us-east-1'
};
console.log("Loaded AWS SDK for JavaScript and AWS IoT SDK for Node.js");
AWS.config.region = AWSConfiguration.region;
AWS.config.credentials = new AWS.CognitoIdentityCredentials({
  IdentityPoolId: AWSConfiguration.poolId
});

export default {
  data() {
    return {
      user: "",
      message: "",
      messages: [],
      chart1: "",
      clientId: "",
      mqttClient: ""
    };
  },
  methods: {
    chartRender(val) {
      let self = this;
      var series = self.chart1.series[0];
      var x = new Date().getTime(), // current time
        y = val;
      series.addPoint([x, y], true, true);
    },
    chartInit() {
      let self = this;
      self.chart1 = Highcharts.stockChart(self.$refs.chart1, {
        chart: {
          events: {
            load: function() {}
          }
        },

        time: {
          useUTC: false
        },

        rangeSelector: {
          buttons: [
            {
              count: 1,
              type: "minute",
              text: "1M"
            },
            {
              count: 5,
              type: "minute",
              text: "5M"
            },
            {
              type: "all",
              text: "All"
            }
          ],
          inputEnabled: false,
          selected: 0
        },

        title: {
          text: "Life Mon"
        },

        exporting: {
          enabled: false
        },
        yAxis: {
          min: -2,
          max: 5
        },
        series: [
          {
            name: "ECG",
            data: (function() {
              var data = [],
                time = new Date().getTime(),
                i;

              for (i = -999; i <= 0; i += 1) {
                data.push([time + i * 1000, 0]);
              }
              return data;
            })()
          }
        ]
      });
    }
  },
  created() {
    let self = this;
    this.clientId = "mqtt-client-" + Math.floor(Math.random() * 100000 + 1);
    self.mqttClient = AWSIoTData.device({
      region: AWS.config.region,
      host: AWSConfiguration.host,
      clientId: self.clientId,
      protocol: "wss",
      maximumReconnectTimeMs: 8000,
      debug: true,
      // IMPORTANT: the AWS access key ID, secret key, and sesion token must be initialized with empty strings.
      accessKeyId: "",
      secretKey: "",
      sessionToken: ""
    });
    let cognitoIdentity = new AWS.CognitoIdentity();
    AWS.config.credentials.get(function(err, data) {
      if (!err) {
        console.log("retrieved identity: " + AWS.config.credentials.identityId);
        var params = {
          IdentityId: AWS.config.credentials.identityId
        };
        cognitoIdentity.getCredentialsForIdentity(params, function(err, data) {
          if (!err) {
            //
            // Update our latest AWS credentials; the MQTT client will use these
            // during its next reconnect attempt.
            //
            self.mqttClient.updateWebSocketCredentials(
              data.Credentials.AccessKeyId,
              data.Credentials.SecretKey,
              data.Credentials.SessionToken
            );
          } else {
            console.log("error retrieving credentials: " + err);
            alert("error retrieving credentials: " + err);
          }
        });
      } else {
        console.log("error retrieving identity:" + err);
        alert("error retrieving identity: " + err);
      }
      self.mqttClient.on("connect", function() {
        console.log("mqtt-connect");

          // subscribe event
          // self.mqttClient.subscribe('$aws/events/#');
          self.mqttClient.subscribe('ecg');
      });
      self.mqttClient.on("reconnect", function() {
        console.log("mqtt-reconnect");
      });
    });
  },
  mounted() {
    let self = this;
    self.chartInit();
    // self.chartRender(data);

      self.mqttClient.on("message", function(topic, payload) {
          let data = JSON.parse(payload);
          // console.log(data);
          self.chartRender(data.v);
      });
    /* end */
  }
};
</script>