<template>
    <div>
        <div id="container" ref="chart1" style="height: 600px; min-width: 310px"></div>
    </div>
</template>

<script>
import io from 'socket.io-client';

export default {
    data() {
        return {
            user: '',
            message: '',
            messages: [],
            socket : io('10.0.75.1:3001'),
            chart1: ''
        }
    },
    methods: {
        chartRender(val) {
            let self = this;
            var series = self.chart1.series[0];
            var x = (new Date()).getTime(), // current time
                y = val;
            series.addPoint([x, y], true, true);
        },
        chartInit() {
            let self = this;
            self.chart1 = Highcharts.stockChart(self.$refs.chart1, {
                chart: {
                    events: {
                        load: function () {
                        }
                    }
                },

                time: {
                    useUTC: false
                },

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 0
                },

                title: {
                    text: 'Life Mon'
                },

                exporting: {
                    enabled: false
                },
                yAxis: {
                    min: -4,
                    max: 5
                },
                series: [{
                    name: 'ECG',
                    data: (function () {
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -999; i <= 0; i += 1) {
                            data.push([
                                time + i * 1000,
                                0
                             ]);
                        }
                        return data;
                    }())
                }]
            });

        },
        sendMessage(e) {
            e.preventDefault();
            
            this.socket.emit('SEND_MESSAGE', {
                user: this.user,
                message: this.message
            });
            this.message = ''
        },
    },
    mounted() {
        let self = this;
        self.chartInit();
        this.socket.on('MESSAGE', (data) => {
            // this.messages = [...this.messages, data];
            self.chartRender(data);
        });
    }
}
</script>