<template>
  <div id="app">
     <div class="row">  
        <div class="col-md-12">
          
          <div class="row">
              

              <div class="col-md-8">
                
                <div class="block_chart_1">
                  <Chart1 />
                </div>


               
                

              </div>



              <div class="col-md-4">
                <div class="block_chart_2">
                  <ChartBPM />
                </div>
              </div>
          </div>
         
          
          <div class="row">
              

              <div class="col-md-12">
                
                <div class="block_chart_1">
                  <ChartAMI />
                </div>
                

              </div>



             
          </div>
         
        </div>
        
        
      </div>
    
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <Dashboard />
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>

import Dashboard from './components/Dashboard.vue'

import Chart1 from './components/Chart1.vue'
import ChartBPM from './components/ChartBPM.vue'
import Chart3 from './components/Chart3.vue'
import ChartAMI from './components/ChartAMI.vue'



export default {
  name: 'app',
  components: {
    // Dashboard,
    Chart1,
    ChartBPM,
    Chart3,
    ChartAMI
  }
}
</script>

<style>

</style>
